/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body,
button,
textarea {

    font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
h2 {
    margin: 0.8em;
}

#wish {
    font-size: 25px;

}
/*--------------------------------------------------------------
Layout
--------------------------------------------------------------*/
body {
    margin: 0;
    padding: 0;
}

.masthead {
    padding: 1em 4em;
    background-color: #607196;
    color: white;
}


.masthead h1 {
    text-align: center;
    font-size: 3em;
}

.intro {
    padding: 2em 2em;
    color: #ffffff;
    background: #FF7B9C;
    font-size: 1.05em;
    font-weight: bold;
    text-align: center;
}


.intro p,
.test-area {
    margin: 0 auto;
    max-width: 550px;
}

.test-area {
    margin-bottom: 4em;
    padding: 0 2em;
}

.test-wrapper {
    border: 10px solid #BABFD1;
    border-radius: 10px;
}

#origin-text {
    margin: 1em 0;
    padding: 1em 1em 0;
    text-align: justify;
    border-radius: 10px;
    background-color: #FFC759;
}

#origin-text p {
    margin: 0;
    padding-bottom: 1em;
    font-weight: bold;
}

.test-wrapper {
    display: flex;
}

.test-wrapper textarea {
    flex: 1;
}


.meta {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-rows: auto;
}

.timer {
    grid-row: 1/2;
    font-size: 3em;
    font-weight: bold;
    color: #607196;
}

.mistakes {
    grid-column: 2/3;
    justify-self: center;
}

.mistakes, #error {
    font-size: 3em;
    font-weight: bold;
    color: #960200;
    }

#error {
    font-size: 1.3em;
}

#reset {
    grid-column: 1/4;
    padding: .5em 1em;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 50px;
    color: #FF7B9C;
    background: white;
    border: 10px solid #FF7B9C;
}

#reset:hover {
    color: white;
    background-color: #FF7B9C;
}


.speed {
    grid-column: 1/4;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: center;
    font-size: 1.7em;
    font-weight: bold;
    color: #607196;
}
.count {
    margin-bottom: 22px;
    color: #FF7B9C;
    font-size: 1.5em;
    justify-self: right;
}

.highscore {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5 50px);
    padding: 1em;
    background-color: #607196;
    color: white;
    font-size: 2em;
    justify-items: center;
}
.highscore p {
    font-weight: bold;
    margin: 0;
    font-size: 1em;
}
ol {
    font-weight: lighter;
    grid-column: 1/3;
    margin: 2em;
    padding: 0;
    text-align: left;   
}

#delete {
    grid-column: 1/3;
    padding: .5em .5em;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 50px;
    color: #FF7B9C;
    background: white;
    border: 10px solid #FF7B9C;
}

#delete:hover {
    color: white;
    background-color: red;
    border: 10px solid red;
}

